body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    scroll-behavior: smooth();
    color: aliceblue;
}
html{
    scroll-behavior: smooth
}

* {
    z-index: 0;
    color: whitesmoke;
}
.htext {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: bolder;
}




.am {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 6.25rem;
}

.atext {
    font-family: 'Prompt';
    font-size: 2.5rem;
    width: 50%;
    text-align: justify;
    color: whitesmoke;

}

#codeimg {
    width: 35%;
}

.violet {
    color: #adadd9;
}

.home {
    margin-top: 2%;
    margin-bottom: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.learnmore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    /* Replace with the color you want */
    text-decoration: none;
}

.learnmore h2 {
    margin-right: 2rem;
    /* or adjust as needed */
}

.Line-break {
    height: 1px;
    background-color: #94979d;
    opacity: .4;
    width: 75%;

}