
nav{
    z-index: 10;
    top: 0;
    position: sticky;
    width: 95%;
    background-color: #495057cc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    backdrop-filter: blur(8px);
}
nav ul{
    width: 55%;
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 6px;
    border-radius: 0.4rem;
    transition: all 0.3s;
}
nav li :hover{
    text-decoration: none;
    color: aliceblue;
    background-color: #9292d8;
    box-shadow:0.2rem 0.2rem 0.2rem  rgba(0,0,0,.5) ;

}
nav ul li{
    transition: ease-in-out 0.3sec;
    font-size: 1.25rem;
    margin-top: 1.5rem;
}
.Heading {
    
    margin-top: 0rem;
    font-family: 'Great vibes';
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 0.125rem 0.125rem 0.225rem rgba(0, 0, 0, 0.5);
}

.tagline {
    font-weight: bold;
    margin-top: 0rem;
    font-size: 1.125rem;
    text-shadow: 0.125rem 0.125rem 0.225rem rgba(0, 0, 0, 0.5);
}
